@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body,
dialog {
  background: #F0F8FF;
  color: #111;
  font-family: "League Spartan", sans-serif;
}

.btn {
  display: flex;
  align-items: center;
  background-color: #F0F8FF;
  padding: 0 1.5rem;
  border: 1px solid;
  text-decoration: none;
  color: #111;
  height: 2em;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  /* Transición para el botón */
}

.btn:hover {
  background-color: #111;
  color: #F0F8FF;
  /* Color de fondo cuando se hace hover */
}

a {
  text-decoration: none;
  color: #111;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  display: flex;
  align-items: center;
  background-color: #F0F8FF;
  padding: 0.5rem 0.8rem;
  border: 1px solid #000;
  color: #111;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  /* Transición para inputs */
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #000;
  background-color: #E6F7FF;
  /* Color de fondo cuando está activo */
}

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
textarea:disabled {
  background-color: #111;
  border-color: #F0F8FF;
  color: #F0F8FF;
  cursor: not-allowed;
  /* Estilos para inputs desactivados */
}

select {
  display: flex;
  align-items: center;
  background-color: #F0F8FF;
  padding: 0.5rem 0.8rem;
  border: 1px solid #000;
  color: #111;
  font-size: 1rem;
  cursor: pointer;
  appearance: none;
  outline: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  /* Transición para select */
}

select:focus {
  border-color: #000;
  background-color: #E6F7FF;
  /* Color de fondo cuando está activo */
}

select:disabled {
  background-color: #111;
  border-color: #F0F8FF;
  color: #F0F8FF;
  cursor: not-allowed;
  /* Estilos para select desactivado */
}

option {
  background-color: #F0F8FF;
  color: #111;
}
